body {
  font-family: "legitima", serif;
}

a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  opacity: 0;
}
