// Override default swiper height

.swiper-wrapper {
  min-height: 100% !important;
}

.swiper-slide {
}

.post--fill .swiper-slide {
  height: 66vh !important;

  @media (max-width: 768px) {
    height: 100vh !important;
  }
}

.post--standard .swiper-slide {
  height: 71vh !important;
  @media (max-width: 500px) {
    height: 73vh !important;
  }
}

.swiper-pagination {
  position: relative !important;
  bottom: 2rem !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 100 !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #ffffff !important;
  opacity: 0.5 !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.post--standard .swiper-pagination {
  @media (max-width: 500px) {
    bottom: 5rem !important;
  }
}

.post--full {
  .swiper-pagination {
    @media (max-width: 500px) {
      bottom: 5rem !important;
    }
  }

  .swiper-wrapper {
    height: 100vh !important;
  }
}
