.tags {
  padding-block: 3rem;
  container: tags / inline-size;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5vh;
    justify-content: center;
  }

  &__item {
    list-style: none;
    font-style: italic;
    font-size: clamp(5vh, 1rem + 2vw, 3.5rem);
    width: 100%;
  }

  &__link {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }

    @container tags (min-width: 500px) {
      &:hover {
        font-weight: 600;

        & .tags__link-hashtag {
          font-weight: 600;
          opacity: 1;
        }
      }
    }
  }

  &__link-text {
    padding: 0;
  }

  &__link-hashtag {
    display: none;

    @container tags (min-width: 500px) {
      display: inline-block;
      margin-block-start: 0.1rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        font-weight: 600;
      }
    }
  }
}
