@layer component {
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100dvh;
    width: 100dvw;
    overflow-y: auto;
    overflow-x: hidden;
    container-type: inline-size;
    container-name: timeline-post;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .timeline-section {
    height: 100dvh;
    width: 100dvw;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;

    @container timeline-post (min-width: 768px) {
      grid-template-columns: 1fr 3fr 1fr;
    }
  }

  .post {
    --text-margin: 2vw;
    --font-weight: 500;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "title"
      "media"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;

    grid-column: 1 / 2;
    grid-row: 2 / 4;

    font-family: "legitima", serif;

    @container timeline-post (min-width: 768px) {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      grid-template-rows: max-content 70vh max-content;
    }

    &__title {
      grid-area: title;
      white-space: nowrap;
    }

    &__title-header {
      font-size: clamp(1.5rem, 0.5vw + 1.5rem, 3.5rem);
      margin-inline-start: var(--text-margin);
      font-weight: var(--font-weight);
      font-style: normal;

      @container timeline-post (min-width: 768px) {
        margin-inline-start: 0;
      }
    }

    &__media {
      grid-area: media;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    &__media-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      padding-block: 0.5rem;
    }

    &__footer {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: clamp(1rem, 0.5vw + 1rem, 1.5rem);
      font-weight: 500;
      margin-inline-start: var(--text-margin);

      @container timeline-post (min-width: 768px) {
        margin-inline-start: 0;
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      font-weight: var(--font-weight);

      a {
        text-decoration: none;
        color: #000000;
        margin-inline-end: 0.5rem;
        transition: font-weight 0.3s ease;

        &:hover {
          font-weight: 700;
        }
      }
    }

    &__date {
      margin-inline-end: var(--text-margin);
      font-weight: var(--font-weight);

      @container timeline-post (min-width: 768px) {
        margin-inline-end: 0;
      }
    }

    &:is(.post--full) {
      --text-block-padding: 5dvw;
      --text-inline-padding: 3dvw;

      @container timeline-post (max-width: 500px) {
        grid-row: 1 / 5;
        grid-template-rows: min-content 1fr min-content;
        min-height: 100dvh;

        .post__title {
          grid-row: 1 / 2;
          z-index: 200;
          align-self: start;
          padding-block-start: var(--text-block-padding);
          padding-inline-start: var(--text-inline-padding);
        }

        .post__media {
          grid-row: 1 / 5;
          z-index: 100;
          height: 100%;
        }

        .post__media-image {
          padding-block: 0;
          object-position: center center;
        }

        .post__footer {
          z-index: 200;
          grid-row: 3 / 4;
          align-self: end;
          padding-block-end: var(--text-block-padding);
          padding-inline-start: var(--text-inline-padding);
        }
      }

      @container timeline-post (min-width: 768px) {
        grid-row: 2 / 4;
      }
    }
  }
}
