.timeline {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  width: 100vw;

  &-post {
    container-type: inline-size;
    container-name: timeline-post;
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: 1fr 55% 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;

    // @container timeline-post (min-width: 768px) {
    //   grid-template-columns: repeat(5, 1fr);
    // }
  }
}

.post {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "title"
    "media"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: max-content 70vh max-content;

  grid-column: 2 / 3;
  grid-row: 2 / 4;

  font-family: "legitima", serif;

  &__title {
    grid-area: title;
  }

  &__title-header {
    font-size: clamp(1.5rem, 0.5vw + 1.5rem, 3.5rem);
  }

  &__media {
    grid-area: media;
    height: 100%;
    width: 100%;
  }

  &__media-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-block: 0.5rem;
  }

  &__footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(1rem, 0.5vw + 1rem, 1.5rem);
    font-weight: 500;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      color: #000000;
      margin-inline-end: 0.5rem;
      transition: font-weight 0.3s ease;

      &:hover {
        font-weight: 700;
      }
    }
  }
}
