@forward './_normalize.scss';
@forward './_navigation.scss';
@forward './_post.scss';
@forward './_test.scss';


html, 
body,
main {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; // prevent double scrollbars
}

html {
    background-color: #f1f5f9;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding-bottom: 3rem;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}



* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}