---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Post from "../../components/Post.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob("../posts/*.md", { eager: true }));
  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const title = tag.charAt(0).toUpperCase() + tag.slice(1);
---

<BaseLayout pageTitle={`${title} Posts`} classNames="timeline">
  {
    posts.map((post: any) => (
      <section class="timeline-section">
        <Post {...post.frontmatter} />
      </section>
    ))
  }
</BaseLayout>
