---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob("../posts/*.md", { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="tags">
    {
      (
        <ul class="tags__list">
          {tags.map((tag) => (
            <li class="tags__item">
              <a class="tags__link" href={`/tags/${tag}`}>
                <span class="tags__link-hashtag">#</span>
                <span class="tags__link-text">{tag}</span>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </section>
</BaseLayout>
