---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true })).sort(
  (a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
);

const pageTitle = "Nick Pics";
const classNames = "timeline";
---

<BaseLayout pageTitle={pageTitle} classNames={classNames}>
  {
    allPosts.map((post: any) => (
      <section class="timeline-section">
        <Post {...post.frontmatter} />
      </section>
    ))
  }
</BaseLayout>

<script is:inline>
  // document.addEventListener("DOMContentLoaded", () => {
  //   gsap.registerPlugin(ScrollTrigger, ScrollSmoother, SplitText);
  //   const posts = document.querySelectorAll(".timeline-section");
  //   // Create ScrollSmoother
  //   const smoother = ScrollSmoother.create({
  //     wrapper: "#smooth-wrapper",
  //     content: "#smooth-content",
  //     smooth: 1,
  //     effects: true,
  //     smoothTouch: 0.1,
  //   });
  //   // Create ScrollTrigger for each section
  //   posts.forEach((post, index) => {
  //     ScrollTrigger.create({
  //       trigger: `.timeline-section:nth-child(${index + 1})`,
  //       start: "top center",
  //       end: "bottom center",
  //       snap: {
  //         snapTo: 1 / (posts.length - 1),
  //         duration: { min: 0.2, max: 0.3 },
  //         delay: 0.1,
  //         ease: "power2.inOut"
  //       }
  //     });
  //   });
  // });
</script>
