---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";

const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true })).sort(
  (a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
);

const pageTitle = "Nick Pics";
const classNames = "timeline";
---

<BaseLayout pageTitle={pageTitle} classNames={classNames}>
  {
    allPosts.map((post: any) => (
      <section class="timeline-section">
        <Post {...post.frontmatter} />
      </section>
    ))
  }
</BaseLayout>

<script>
  const carousels = document.querySelectorAll(".carousel");
  const carouselInstances = new Map();
  console.log(carousels);

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          if (!carouselInstances.has(entry.target)) {
            const instance = new window.Carousel(entry.target);
            carouselInstances.set(entry.target, instance);
          }
        } else {
          if (carouselInstances.has(entry.target)) {
            carouselInstances.get(entry.target).destroy();
            carouselInstances.delete(entry.target);
          }
        }
      });
    },
    { threshold: 0.1 }
  );

  carousels.forEach((carousel) => observer.observe(carousel));
</script>
