---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);

const pageTitle = "Nick Pics";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="scroll-container">
    <div class="scroll-item">Section 1</div>
    <div class="scroll-item">Section 2</div>
    <div class="scroll-item">Section 3</div>
  </div>
</BaseLayout>
