---
const { images } = Astro.props;
---

<section class="carousel">
  <div class="carousel__wrapper" aria-label="horizontal carousel of images">
    {
      images.map((image: any) => (
        <div class="carousel__slide">
          <img src={image.path} alt={image.alt} loading="lazy" />
          {image.title && image.description && (
            <>
              <h2>{image.title}</h2>
              <h5>{image.description}</h5>
            </>
          )}
        </div>
      ))
    }
  </div>
</section>
