---
const { images } = Astro.props;
---

{Array.isArray(images) ? (
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {/* Slides */}
            {images.map((image) => (
                <div class="swiper-slide">
                    <img src={image.path} alt={image.alt} />
                </div>
            ))}
        </div>
        
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
    </div>
) : (
    <img src={images.path} alt={images.alt} />
)}

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        new Swiper('.swiper', {
            // Basic parameters
            slidesPerView: 1,
            
            // Pagination
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });
    });
</script>

<style>
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>