---
const { images } = Astro.props;
---

{
  Array.isArray(images) ? (
    <section class="post__media-swiper swiper">
      <div class="swiper-wrapper">
        {images.map((image) => (
          <img class="post__media swiper-slide" src={image.path} alt={image.alt} />
        ))}
      </div>
      <div class="swiper-pagination" />
    </section>
  ) : (
    <img class="post__media" src={images.path} alt={images.alt} />
  )
}
