---
import Picture from "./Picture.astro";
import Video from "./Video.astro";
const { url, title, pubDate, tags, images, videos } = Astro.props;
---

<article class="post">
    <div class="post__content">
        {title && <h2 class="post__title">{title}</h2>}
        {images && <Picture images={images} />}
        {
            tags && (
                <ul class="post__tags">
                    {tags.map((tag: string) => (
                        <li class="post__tag">
                            <a href={`/tags/${tag}`}>#{tag}</a>
                        </li>
                    ))}
                </ul>
            )
        }
    </div>
</article>
