---
import '../styles/styles.scss';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from'../components/Footer.astro';

const { pageTitle, classNames } = Astro.props;
console.log(classNames);
---

<html lang="en">
	<Head pageTitle={pageTitle} />
	<body>
		<!-- <Header /> -->
		<main class={classNames}>
			<slot />
		</main>
		<!-- <Footer /> -->
		<script>
			import '../scripts/menu.js';
		</script>
	</body>
</html>

