---
import "../styles/styles.scss";
import Head from "../components/Head.astro";
import Menu from "../components/Menu.astro";
const { pageTitle, classNames } = Astro.props;
---

<html lang="en">
  <Head pageTitle={pageTitle} />
  <body>
    <button class="menu-button"> </button>
    <Menu />
    <main class={classNames}>
      <slot />
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script is:inline src="/scripts/gsap.min.js"></script>
    <script is:inline src="/scripts/SplitText.min.js"></script>
    <script is:inline src="/scripts/ScrollTrigger.min.js"></script>
    <script is:inline src="/scripts/ScrollSmoother.min.js"></script>
    <script>
      // import "../scripts/reset-scroll.js";
      // import "../scripts/swiper.js";
      // import "../scripts/posts.js";
      // import "../scripts/video.js";
    </script>
  </body>
</html>
