---
import "../styles/styles.scss";
import Head from "../components/Head.astro";
import Menu from "../components/Menu.astro";
const { pageTitle, classNames } = Astro.props;
---

<html lang="en">
  <Head pageTitle={pageTitle} />
  <script is:inline>
    (function () {
      const navigationType = sessionStorage.getItem("navigationType");
      if (navigationType === "main") {
        const style = document.createElement("style");
        style.textContent = ".menu { opacity: 0 !important; }";
        document.head.appendChild(style);
      }
    })();
  </script>
  <body>
    <Menu />
    <main class={classNames}>
      <slot />
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script is:inline src="/scripts/gsap.min.js"></script>
    <script is:inline src="/scripts/SplitText.min.js"></script>
    <script is:inline src="/scripts/ScrollTrigger.min.js"></script>
    <script is:inline src="/scripts/ScrollSmoother.min.js"></script>
    <script is:inline src="/scripts/Draggable.min.js"></script>
    <script is:inline src="/scripts/InertiaPlugin.min.js"></script>
    <script type="module" src="../scripts/ScrollIntoView.js"></script>
    <script type="module" src="../scripts/Post.js"></script>
    <script type="module" src="../scripts/Video.js"></script>
    <script type="module" src="../scripts/Swiper.js"></script>
    <script type="module" src="../scripts/Menu.js"></script>
    <script type="module" src="../scripts/PageTransition.js"></script>
  </body>
</html>
