---
import "../styles/styles.scss";
import Head from "../components/Head.astro";

const { pageTitle, classNames } = Astro.props;
---

<html lang="en">
  <Head pageTitle={pageTitle} />
  <body>
    <main class={classNames}>
      <slot />
    </main>
    <script>
      import "../scripts/reset-scroll.js";
      import "../scripts/scroll.js";
    </script>
  </body>
</html>
