---
import BaseLayout from "./BaseLayout.astro";
import Post from "../components/Post.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} classNames="timeline">
  <section class="timeline-section">
    <Post {...frontmatter} />
  </section>
</BaseLayout>
